.filter-container {
    position: absolute;
    top: 71%;
    left: 5%;
    width: 90%;
    height: 3.5rem;
    padding: 2% 20%;
    display: flex;
    align-items: center;
    border-radius: .3em;
    justify-content: space-around;
    background-color: #25273c;
    color: white;
}

#light .filter-container{
    background: white;
    color: #25273c;
}
.filter-container span{
    cursor: pointer;
}

.filter-container span:hover{
    color: #4879de;
    font-weight:bold;
}

