.header {
    height: 30%;
    background-position: center;
    background-size: cover;
    position: relative;
}

#dark .header {
    background-image: url('src/assets/images/bg-mobile-dark.jpg');
}

#light .header {
    background-image: url('src/assets/images/bg-mobile-light.jpg');
}

.mini {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20.5%;
    left: 5%;
    color: white;
    letter-spacing: .5em;
}

.mini img{
    cursor: pointer;
    height: 1.2rem;
}