.header {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#dark .header {
    background-image: url('./images/bg-mobile-dark.jpg');
}

#light .header {
    background-image: url('./images/bg-mobile-light.jpg');
}

.mini {
    width: 330px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    letter-spacing: .5em;
}

.mini img {
    cursor: pointer;
    height: 1.2rem;
}


@media screen and (min-width: 768px) {
    .header {
        height: 250px;
    }

    #dark .header {
        background-image: url('./images/bg-desktop-dark.jpg');
    }

    #light .header {
        background-image: url('./images/bg-desktop-light.jpg');
    }
}