* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app{
    background-color: hsl(235, 21%, 11%);
    height: 100vh;
    width: 100%;
    font-family: 'Josefin Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drag-drop{
    margin-top: 5%;
    color: hsl(234, 11%, 52%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

@media screen and (min-width: 768px) {
    .drag-drop {
        margin-top: 3%;
    }
}