:root {
    /* COLORS */
    /* PRIMARY */
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* NEUTRAL */
    /* LIGHT THEME */
    --Light-Theme-Body-Background: hsl(0, 0%, 98%);
    --Light-Theme-Block-Background: hsl(0, 0%, 100%);
    --Light-Theme-Todo-Text-Color: hsl(0, 0%, 0%);

    --Light-Theme-Body-Ba: hsl(236, 33%, 92%);
    --Light-Theme-T: hsl(233, 11%, 84%);
    --Light-Theme-Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Light-Theme-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    /* DARK THEME */
    --Dark-Theme-Body-Background: hsl(235, 21%, 11%);
    --Dark-Theme-Block-Background: hsl(235, 24%, 19%);
    --Dark-Theme-Todo-Text-Color: hsl(234, 39%, 85%);
    --Dark-Theme-Todo-Text-Hover-Color: hsl(236, 33%, 92%);
    --Dark-Theme-Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Dark-Theme-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Dark-Theme-Very-Darkest-Grayish-Blue: hsl(237, 14%, 26%);
}

#form {
    /* background-color:blanchedalmond; */
    margin-top: -90px;
    width: 330px;
    height: 48px;
    min-width: 50px;
}

.input-container {
    position: relative;
    height: 100%;
}

.circle {
    position: absolute;
    overflow: hidden;
    height: 20px;
    width: 20px;
    top: 28%;
    left: 3.5%;
    border-radius: 50%;
    margin-left: .25rem;
    border: 1px solid #25273c;
    opacity: 0.2;
}

#dark .circle {
    border: 1px solid white;
}

.input-container input {
    height: 100%;
    width: 100%;
    padding: 0px 50px;
    border: none;
    border-radius: 7px;
    background-color: #25273c;
    color: white;
}

.short-todo {
    color: rgb(255, 0, 0);
}

#light .short-todo {
    font-weight: bold;
}

#light #form input {
    background-color: white;
    color: #25273c;
}

.todo-list {
    width: 330px;
    height: 370px;
    margin-top: 15px;
    overflow-x: hidden;
    color: white;
    border-radius: 4px;
    background-color: #25273c;
    position: relative;
}

#light .todo-list {
    background-color: white;
    color: #25273c;
}

.todo-list li {
    list-style: none;
}

.todo-list li {
    cursor: grab;
}

.todo-list li:active {
    cursor: grabbing;
}

.dktp-span {
    display: none;
}

/* SINGLE TODO */
.to-do {
    height: 50px;
    padding: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-body {
    width: 75%;
}

.divider {
    height: 1px;
    opacity: 0.1;
    background-color: white;
}

#light .divider {
    height: 1px;
    opacity: 0.1;
    background-color: black;
}

.to-do p {
    font-size: 15px;
}

.show-delete-icon {
    height: .7em;
    width: .7em;
}

.hide-delete-icon {
    height: .7em;
    width: .7em;
    visibility: visible;
}

.no-todos {
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-color:cadetblue; */
}

.ul-bottom {
    position: sticky;
    bottom: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 330px;
    z-index: 1;
    height: 52px;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #25273c;
    color: hsl(234, 11%, 52%);
}

#light .ul-bottom {
    background-color: white;
}


.not-checked {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
    border-color: hsl(237, 14%, 26%);
    border-style: solid;
    cursor: pointer;
    overflow: hidden;
}
#light .not-checked{
    border-color: hsl(236, 33%, 92%);
}
.checked {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-style: solid;
    cursor: pointer;
    overflow: hidden;
    background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.not-checked:hover {
    border-color: transparent;
    border-width: 2px;
    background: linear-gradient(var(--Dark-Theme-Block-Background) 0 0) padding-box, var(--Check-Background) border-box;
}

#light .not-checked:hover {
    border-color: transparent;
    border-width: 2px;
        background: linear-gradient(white 0 0) padding-box,
            var(--Check-Background) border-box;
}


.to-do>* {
    margin-right: 1em;
}

.dragging {
    opacity: 0.7;
    transform: rotate(5deg) scale(1.03);
    transition: all 0.2s ease-out;
    z-index: 10;
}

.over {
    border: 2px solid #078fab;
    border-radius: 2px;
    transform: rotate(0deg)
}


@media screen and (min-width: 768px) {

    .todo-list,
    .mini,
    #form,
    .ul-bottom,
    .filter-container {
        width: 650px;
    }

    #form {
        margin-top: -118px;
    }

    .todo-list {
        margin-top: 25px;
        height: 500px;

    }

    .todo-body {
        width: 85%;
    }

    .ul-bottom {
        display: none;
    }

    .dktp-span {
        display: block;
    }

    .to-do {
        height: 70px;
    }

    .input-container input {
        padding: 0px 75px;
    }

    .circle {
        left: 30px;
    }

}

@media screen and (min-width: 1000px) {

    .checked,
    .not-checked {
        height: 25px;
        width: 25px;
    }

    .show-delete-icon {
        height: 20px;
        width: 20px;
        opacity: 1;
    }

    .hide-delete-icon {
        opacity: 0;
    }

    .to-do p {
        font-size: 18px;
    }

    .circle {
        height: 25px;
        width: 25px;
    }

}