#form {
    top: 14%;
    left: 5%;
    width: 90%;
}

#form,
.todo-list {
    position: absolute;
}

.input-container {
    position: relative;
}

.circle {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    margin-left: .25rem;
    border: 1px solid #25273c;
}

#dark .circle {
    border: 1px solid white;
}

.input-container input {
    width: 100%;
    height: 3.5rem;
    padding: 1em 4em;
    border: none;
    border-radius: 7px;
    resize: vertical;
    background-color: #25273c;
    color: white;
}

#light #form input {
    background-color: white;
    color: #25273c;
}



.todo-list {
    height: 46.5%;
    width: 90%;
    overflow-x: scroll;
    left: 5%;
    top: 22.2%;
    color: white;
    border-radius: .5em;
    background-color: #25273c;
}

#light .todo-list {
    background-color: white;
    color: #25273c;
}

.todo-list li {
    list-style: none;
}

.todo-list li {
    cursor: grab;
}

.todo-list li:active {
    cursor: grabbing;
}

/* SINGLE TODO */
.to-do {
    height: 3rem;
    padding: 10% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color:cadetblue; */
}

.to-do p {
    font-size: 15px;
}

.delete-icon {
    height: .7em;
    width: .7em;
}

.no-todos {
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-color:cadetblue; */
}

.ul-bottom {
    position: fixed;
    top: 62%;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    width: 90%;
    z-index: 1;
    height: 4rem;
    padding: 2% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #25273c;
}

#light .ul-bottom {
    background-color: white;
}

.checked,
.not-checked {
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 1.4%;
}

.checked {
    background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.not-checked {
    background: transparent;
}

#light .not-checked {
    border: 2px solid hsl(236, 33%, 92%)
}

.checked img {
    height: .4em;
    width: .4em;
    position: absolute;
    z-index: 1;
}

.to-do>* {
    margin-right: 1em;
}